@use "sass:math";
@import "mixins";

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================
//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$mainColor: #fff;

//</ПЕРЕМЕННЫЕ>===========================================================================================================
$brownish-orange: #f26522;
$white-two: #f6f6f6;
$black: #232323;
$windows-blue: #4982c7;
$black-two: #000;
$warm-grey: #898989;
$white-three: #f2f2f2;
$warm-grey-two: #7f7f7f;
$warm-grey-three: #707070;
$black-three: #363636;
$pinkish-grey: #bcbcbc;
$white-four: #d9d9d9;
$greyish: #b6b6b6;
$white-five: #d8d8d8;
$white-six: #e7e7e7;
$pinkish-grey-two: #c9c9c9;
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
html {
    scroll-behavior: smooth;
}
body {
    color: $mainColor;
    background-color: $mainColor;
    &.lock {
        overflow: hidden;
    }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}
//</ОБОЛОЧКА>===========================================================================================================

@import "header";
@import "null";
@import "grid";
@import "home";
@import "features";
@import "steps";
@import "columns";
@import "subscribe";
@import "contacts";
@import "footer";
